

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  display: flex;
  justify-content: space-between;
  background-color: rgba(190, 183, 183, 0.485);
}
.logo{
  width: 120px;
  height: 100px;
  margin-top: 10px;
  
}
.antique{
  display: flex;
  margin-left: 50px;
}
a{
  text-decoration: none;
}
.logoName>h1{
  font-size: 50px;
  font-weight: normal;
  color: rgb(255, 123, 0);
  margin-top: 50px;
  margin-left: 10px;
}
.logoName>h1>span{
  font-size: 30px;
  font-family: Roboto;
  color: rgb(255, 123, 0);
}

.alink {
  display: inline-block;
  position: relative;
  color: gray;
  text-decoration: none;
}

.alink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 123, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.alink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.alink:active{
  color: rgb(255, 123, 0) ;
}

.anav:hover{
  color: red;
}

.largetxt{
  position: absolute;
  background-color: rgba(190, 183, 183, 0.485);
  width: 100%;
  font-size: 100px;
  font-weight: bold;
  color: rgba(152, 147, 143, 0.661);
  
}
.largetxt>p{
  margin-top: 100px;
  margin-left: 350px;
  padding-top: 50px;
  padding-bottom: 82px;
  opacity: 0.8;
  letter-spacing: 5px;
}
.smalltxt{
  position:relative;
  display: flex;
  bottom: 40px;
  
}
.smalltxt>p{
  position:relative;
  top: 400px;
  height: 20vh;
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
  letter-spacing: 2px;
}

.sect2border{
  height: 97vh;
}
.sect2border>p{
  position: absolute;
  left: 250px;
  border: solid rgb(255, 123, 0)  3px;
  padding-left: 10px;
  padding-top: 300px;
  padding-bottom: 100px;
  width: 50%;
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
  letter-spacing: 2px;
  line-height: 150%;
  font-family: cursive;
  font-style: italic;
}
.sect2border>p>button{
  cursor: pointer;
  font-size: 17px;
  border: none;
  background-color: white;
  color: rgb(255, 123, 0) ;
  font-family: cursive;
  font-style: italic;
  margin-top: 30px;
}

.sect2border>p>button:hover{
  color: black;

}
.sect2border>h1{
  width: 50%;
  position: relative;
  top: 50px;
  left: 70px;
  letter-spacing: 5px;
  font-size: 80px;
  font-weight: bold;
  color: rgb(85, 81, 81);

}

.sect2border>img{
  position: relative;
 top: -375px;
  left: 705px;
}





.signUp{
    display: flex; 
    margin: 50px;
    margin-left: 200px;
    
    
}
.superShopper{
    /* width: 40%; */
    /* height: 56vh; */
    border-radius: 20px;
}
.superShopper>img{
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.userSignUp{
    width: 40%;
    background-image: linear-gradient(to right, rgba(242, 234, 234, 0.681), rgba(246, 121, 3, 0.907));
    margin-left: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.userSignUp>h2{
    font-size: 50px;
    padding-left: 75px;
    opacity: 1;
    font-family: 'Henny Penny', cursive;
}
.userSignUp>form{
    padding-left: 75px;
   font-size: 25px;
   font-family: 'Gugi', cursive;
}
#welcomebtn{
    cursor: pointer;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: right;
    margin-right: 30px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: rgba(246, 243, 240, 0.982);
    font-family: 'Water Brush', cursive;

}
#welcomebtn:hover {
  background-color: rgb(255, 123, 0);

}





.userSignUp>h1{
  font-size: 70px;
  font-weight: normal;
  color: rgb(255, 123, 0);
  margin-top: 50px;
  margin-left: 50px;
}
.userSignUp>h1>span{
  font-size: 30px;
  font-family: Roboto;
  color: rgb(255, 123, 0);
}
.invalidUsernamefalse{
  display: none;
  
}

.invalidUsername{
  font-size: 15px;
  color: red;
}

.form1>input{
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px;
  border: none;
  padding: 5px;
  font-size: 17px;
  background-color: rgba(240, 237, 232, 0.874);
}

.form1>select{
  border: none;
  background: none;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(240, 237, 232, 0.874);
}
.userSignUp>h4>small{
  font-size: 12px;
  margin-left: 20px;
}

.userSignUp>h4>button{
  color: blue;
  font-weight: 900;
  cursor: pointer;
   margin-left: 50px;
  border: none;
  background: none;
  font-size: 16px;
}

.welcomemsg{
  color: rgb(75, 75, 74);
  text-align: center;
  font-size: 20px;
}

#svg1{
  margin-bottom: 30px;
  color: rgb(255, 123, 0);
}

.sect3{
  background-color: rgba(190, 183, 183, 0.485);
 text-align: center;
 line-height: 200%;
 padding-bottom: 30px;

}
.sect3>h1{
  color: rgb(117, 114, 114);
  padding-top: 50px;
  font-size: 60px;
  font-weight: bold;
  /* font-family: cursive; */
}
.sect3>p{
  font-size: 20px;
  font-family: cursive;
  font-style: italic;
  letter-spacing: 1px;
}
.sect3>h2{
  color: blue;
  text-align: left;
  padding-left: 50px;
  color: rgb(67, 64, 64);
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  /* font-family: cursive; */
  letter-spacing: 2.5px;
  /* font-weight: bold; */
}
.subsect3{
  display: flex;
  justify-content: space-around;
}

.price{
  border: solid 3px black;
  width: fit-content;
  border-radius: 20px;
  padding-bottom: 30px;
  padding: 20px;
}
.price:hover{
  border: 3px solid rgb(255, 123, 0);
 
}
.price>h2{
  border: 2px solid rgb(255, 123, 0);
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 400;
}

.price>p{
  margin-bottom: 50px;
}
.p1{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}
.price>span{
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}


.aboutuspage>h1{
  margin-left: 70px;
  font-size: 45px;
}
.getintouch{
  display: flex;
  margin: 10px;
}

.getintouchform{
  width: 50%;
  border-right: 2px solid black;
}
.getintouchform>form>label{
  color: rgb(238, 115, 0);
  margin-left: 10px;
  font-size: 16px;
}
.getintouchform>form>input{
  font-size: 17px;
  border: none;
  border-bottom: 3px solid black;
  margin: 20px;
}
.getintouchform>form>input:active{
  border: none;
}
.getintouchform>form>select{
  font-size: 17px;
  background-color: white;
  margin: 20px;
}
.getintouchform>form>textarea{
  font-size: 17px;
  margin: 20px;
}
#submit{
  /* border: 1px solid black; */
  background-color: rgba(190, 183, 183, 0.485);
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  float: right;
 
}

#submit:hover{
  background-color:rgb(238, 115, 0) ;
  font-style: italic;
  color: white;
}
.getintouchinfo{
  margin-left: 30px;
}
.getintouchinfo>h3{
  font-size: 20px;
}
.getintouchinfo>span{
  color: rgb(238, 115, 0) ;
  margin-bottom: 100px;
}
.iframe{
  margin-top: 100px;
  width: 75%;
  height: 350px;
  margin-left: 150px;
}

.faq{
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.title>small{
  color: rgb(238, 115, 0) ;
  font-size: 13px;
}
.title>h1{
  font-size: 60px;
}
.questions>ul>li{
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.questions>p{
  font-style: italic;
  letter-spacing: 1px;
  line-height: 30px;
}
.footer{
  margin-top: -42px;
  background-color: rgb(32, 30, 30);
  color: white;
  
}
.footer>h2{
  padding-left: 100px;
  padding-top: 50px;
  font-size: 50px;
}
.contactinfo{
  padding-left: 100px;
  display: flex;
  justify-content: space-around;
}

fieldset{
  margin: 30px;
  margin-bottom: 100px;
  padding: 10px;
  border: 3px dashed rgb(238, 115, 0) ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

legend{
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  font-family: cursive;
  letter-spacing: 2.5px;
}

.workoutvideo{
   background-color: rgba(231, 229, 229, 0.485);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  border-radius: 10px;
}

.userinfo{
  text-align: center;
  /* background-color: red; */
  width: 100%;
}
.userinfo>h3{
  line-height: 120%;
}
.userinfo>h3>span{
  color: rgb(238, 115, 0) ;
  font-family: cursive;
}

.trainerssection>legend{
  font-size: 50px;
   
}
.trainers{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.trainer>img{
  height: 350px;
  width: 250px;
  border-radius: 20px;
}
.trainer{
  height: fit-content;
  background-color: rgba(231, 229, 229, 0.485);
  padding: 20px;
  margin-bottom: 20px;
  /* margin-right: 50px; */
  /* margin-left: 50px; */
  /* text-align: center; */
  border-radius: 10px;
}
.trainer>h3>em{
  color: rgb(238, 115, 0) ;
}
.trainer>button{
  border: 0.5px solid black;
  cursor: pointer;
  font-size: 17px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 60px;
}

.trainer>button:hover{
  /* border: 0.5px solid black; */
  color: white;
   background-color: rgb(238, 115, 0) ;
}

.sessionform{
  margin: 20px;
  /* padding: 10px; */
}
.sessionform>input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.disabled{
  background-color: rgb(238, 115, 0) ;
  pointer-events: none;
}

